<%= form_tag finalisation_report_path(@report) do %>
  <% @report_obligations.each do |report_obligation| %>
    <h2><%= report_obligation.obligation.title %></h2>
    <% report_obligation.obligation.tasks.each do |task| %>
      <h4><%= task.title %></h4>

      <%= simple_fields_for 'report_tasks[]', task.build_report_task(report_obligation) do |f| %>
        <%= f.label :status %>
        <%= f.select :status, enum_options_for_select(ReportObligationTask, :status) %>
        <%= f.hidden_field :task_id %>
        <%= f.hidden_field :report_obligation_id %>
      <% end %>

    <% end %>

  <% end %>
  <%= hidden_field_tag :go_to, go_to %>
  <%= submit_tag %>
<% end %>
