<h3>Sapin II - Synthèse</h3>

<div class="reporting reporting-pdf">
  <div class="form-report">
    <% @dashboard.report_obligations.each do |report_obligation| %>
      <div class="card <%= report_obligation.status %>">
        <div class="card-header">
          <h3><%= report_obligation.obligation.title %></h3>
          <p><%= enum_i18n(ReportObligation, :status, report_obligation.status) %></p>
        </div>
         <div class="task-list">
           <% report_obligation.report_obligation_tasks.each do |report_task| %>
           <div class="task <%= report_task.status %>">
              <p><%= report_task.task.title %></p>
              <div>
                <%= enum_i18n(ReportObligationTask, :status, report_task.status) %>
                <i class="fa <%= report_task.status %>"></i>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
  </div>
  <div class="graphs">
    <%#= pie_chart report_completed_tasks_path(@dashboard.report),
      title: t('.pie_title'), legend: "bottom", colors: ["#f8cb00", "#45b7af", "#ff6b6b"] %>
    <%#= column_chart @dashboard.column_chart_data, @dashboard.column_chart_options  %>
    <div class="ending">
      <p>Affinis est une société d’intelligence économique spécialisée dans la prévention des fraudes et les due diligences (connaissance des partenaires et de la concurrence). Nous avons pris dès la promulgation de cette loi, les mesures d’accompagnement de nos clients pour son déploiement, y compris dans son aspect légal pour lequel nous nous sommes adossé à un cabinet d’avocats de Paris.<br><br>
      Nous vous proposons de vous accompagner dans le process de déploiement de vos obligations légales et vous proposant un « pack Loi Sapin II » incluant l’ensemble des aspects légaux et techniques. Notre offre est particulièrement dimensionnée pour les PME-PMI et les ETI.
      </p>
    </div>
  </div>
</div>
