<div class="logo">
  <%= image_tag('logo_affinis.png') %>
</div>
<nav class="main-nav">
<% if params[:report_id] %>
  <ul>
    <li><%= link_to 'Eligibilité', root_path %></li>
    <li><%= link_to 'Feuille de route', report_path(params[:report_id]) %></li>
    <li><%= link_to 'Code conduite | Dispositif d\'alerte', new_report_second_step_path(params[:report_id]) %></li>
    <li><%= link_to 'Autres dispositions', new_report_third_step_path(params[:report_id]) %></li>
    <li><%= link_to 'Résumé', report_dashboard_path(params[:report_id]) %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'Eligibilité', root_path %></li>
    <li><%= link_to 'Feuille de route', new_report_path, class: "disabled" %></li>
    <li><%= link_to 'Code conduite | Dispositif d\'alerte', new_report_path, class: "disabled" %></li>
    <li><%= link_to 'Autres dispositions', new_report_path, class: "disabled" %></li>
    <li><%= link_to 'Résumé', new_report_path, class: "disabled" %></li>
  </ul>
<% end %>
</nav>
