<div>
  <%= simple_form_for(@form, url: prospects_path) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.label :role %>
    <%= f.select :role, enum_options_for_select(Prospect, :role) %>
    <%= f.label :localisation %>
    <%= f.select :localisation, enum_options_for_select(Company, :localisation) %>
    <%= f.label :firm_type %>
    <%= f.select :firm_type, enum_options_for_select(Company, :type) %>
    <%= f.input :employee_count %>
    <%= f.input :turnover %>
    <%= f.button :submit %>
  <% end %>
</div>
