<div>
  <%= simple_form_for(@form, url: prospects_path) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :localisation %>
    <%= f.input :firm_type %>
    <%= f.input :employee_count %>
    <%= f.input :turnover %>
    <%= f.button :submit %>
  <% end %>
</div>
