<% @report_obligations.each do |report_obligation| %>
  <h2><%= report_obligation.obligation.title %></h2>
  <% report_obligation.obligation.tasks.each do |task| %>
  <div class="form-block">
    <p class="form-label"><%= task.title %></p>
    <div class="form-fields">
      <%= simple_fields_for "report_tasks[#{task.id}]", task.build_report_task(report_obligation) do |f| %>
        <%= f.collection_radio_buttons :status, enum_options_for_select(ReportObligationTask, :status), :last, :first %>
        <%= f.hidden_field :task_id %>
        <%= f.hidden_field :report_obligation_id %>
      <% end %>
    </div>
  </div>
  <% end %>

<% end %>
<div class="container-button">
  <%= submit_tag nil, :class => "btn btn-primary" %>
</div>
